* {
    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
}

li {
    list-style: none;
}

p {
    font-size: 30px;
    font-weight: 600;
}

header, footer {
    background-color: beige;
    height: 200px;
    text-align: center;
    line-height: 200px;
}

main {
    height: 1000px;
}

#menu {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 15px;
}

#menu ul {
    display: flex;
    gap: 15px;
}


#menu ul li a {
    display: block;
    background-color: aliceblue;
    width: 200px;
    height: 100px;
    font-size: 25px;
    font-weight: 600;
    line-height: 100px;
}

#menu ul li:hover a {
    color: blue;
}

.show_left, .show_right {
    border: 3px solid black;
    border-radius: 100%;
    font-size: 17px;
    width: 30px;
    height: 30px;
    line-height: 30px;
}

.show_left:hover, .show_right:hover {
    cursor: pointer;
}

#search {
    width: 800px;
    height: 50px;
    border: 5px solid black;
    border-radius: 30px;
    margin: 0 auto;
    line-height: 50px;
    padding: 0 50px;
    margin-top: 25px;
}

#search span {
    font-size: 20px;
    font-weight: 600;
}